<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.threedevs.aj.HwInfoReceiver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ServerActivityV2" />
        <activity android:name=".IntroActivity" />
        <activity android:name=".IntroServerConnectionActivity" />
        <activity android:name=".IntroSensorsActivity" />
        <activity
            android:name=".ApplicationSettingsActivity"
            android:label="@string/title_activity_application_settings"></activity>
    </application>

</manifest>